@import url('../../App.css');


.header{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    
}
.img{
    background-image: url('../../img/Play-Games/1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100px;
    height: 100px;
}

.nav{
    display: flex;
}

.nav p{
    margin-right: 5px;
    color: var(--azul4);
    font-weight: bold;
    
}